In [1]:
import re
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import tabula

In [9]:
urls = []
r = requests.get('https://trreb.ca/index.php/market-news/rental-market-report/rental-market-report-archive')
soup = BeautifulSoup(r.text)
for x in soup.find_all('a'):
    url = x.get('href')
    if re.search('/market-stats/rental-reports/', url) is not None:
        urls.append(url)

In [10]:
urls

['/files/market-stats/rental-reports/rental_report_Q4-2021.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2021.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2021.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2021.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2020.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2020.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2020.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2020.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2019.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2019.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2019.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2019.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2018.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2018.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2018.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2018.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2017.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2017.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2017.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2017.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2016.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2016.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2016.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2016.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2015.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2015.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2015.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2015.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2014.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2014.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2014.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2014.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2013.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2013.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2013.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2013.pdf',
 '/files/market-stats/rental-reports/rental_report_Q4-2012.pdf',
 '/files/market-stats/rental-reports/rental_report_Q3-2012.pdf',
 '/files/market-stats/rental-reports/rental_report_Q2-2012.pdf',
 '/files/market-stats/rental-reports/rental_report_Q1-2012.pdf',
 '/files/market-stats/rental-reports/rental_report_09-12_11.pdf',
 '/files/market-stats/rental-reports/rental_report_05-08_11.pdf',
 '/files/market-stats/rental-reports/rental_report_01-04_11.pdf',
 '/files/market-stats/rental-reports/rental_report_09-12_10.pdf',
 '/files/market-stats/rental-reports/rental_report_05-08_10.pdf',
 '/files/market-stats/rental-reports/rental_report_01-04_10.pdf',
 '/files/market-stats/rental-reports/rental_report1209.pdf',
 '/files/market-stats/rental-reports/rental_report0909.pdf',
 '/files/market-stats/rental-reports/rental_report0509.pdf',
 '/files/market-stats/rental-reports/rental_report0209.pdf',
 '/files/market-stats/rental-reports/rental_report1008.pdf',
 '/files/market-stats/rental-reports/rental_report0508.pdf',
 '/files/market-stats/rental-reports/rental_report0108.pdf',
 '/files/market-stats/rental-reports/rental_report0907.pdf',
 '/files/market-stats/rental-reports/rental_report0507.pdf',
 '/files/market-stats/rental-reports/rental_report0107.pdf',
 '/files/market-stats/rental-reports/rental_report0906.pdf',
 '/files/market-stats/rental-reports/rental_report0506.pdf',
 '/files/market-stats/rental-reports/rental_report0106.pdf',
 '/files/market-stats/rental-reports/rental_report0905.pdf',
 '/files/market-stats/rental-reports/rental_report0505.pdf',
 '/files/market-stats/rental-reports/rental_report0501.pdf',
 '/files/market-stats/rental-reports/rental_report0403.pdf']

In [30]:
[*range(1,5,1)]

[1, 2, 3, 4]

In [31]:
years = [*range(2012,2022,1)]
quarters = [*range(1,5,1)]

# for year in years:
#     for quarter in quarters:
#         response = requests.get(f"https://trreb.ca/files/market-stats/rental-reports/rental_report_Q{quarter}-{year}.pdf")
#         with open(f'../data/raw/rental/Q{quarter}-{year}.pdf', 'wb') as f:
#             f.write(response.content)

In [129]:
year = years[3]
quarter = quarters[3]

# print(year, quarter)

2015 4

Got stderr: Apr 02, 2022 11:20:04 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:20:04 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

In [143]:
dfs = []
for year in years:
    for quarter in quarters:
        print(year, quarter)
        file1 = f'../data/raw/rental/Q{quarter}-{year}.pdf'
        table = tabula.read_pdf(file1, pages = '3', stream=True, area = (76.725,31.482,566.775,764.082))[0]
        table.drop(table.index[0:(np.where(table.iloc[:,0] == 'Toronto West')[0][0]-1)], inplace=True)
        table.dropna(axis=1, how='all', inplace=True)
        table.set_index(table.columns[0], inplace=True)
        splits = [table[col].str.split(pat=' ', expand=True).add_prefix(col) for col in table.columns]
        table = pd.concat(splits, axis=1)
        table = table.reset_index(drop=False)
        col1 = ['Region'] + [x for x in ['All_Apartments', 'Bachelor', 'One_Bedroom', 'Two_Bedroom', 'Three_Bedroom'] for _ in (0, 1)]
        col2 = ["", "Total_Listed", "Total_Leased"] + ["Bachelor_Leased", "Avg_Lease_Rate"]*4
        table.columns = ['_'.join([x,y]).strip('_') for x, y in zip(col1,col2)]
        table = table.loc[table['Region'].apply(lambda x: re.search('\d+', x) is not None)]
        table['Region'] = table['Region'].apply(lambda x: re.search('\w\d{2}', x).group())
        table.iloc[:,1:] = table.iloc[:,1:].apply(lambda x_row: pd.Series([int(''.join(re.findall('\d+', x))) if re.findall('\d+', x) != [] else np.nan for x in x_row.values]), axis = 1).values
        table['Year'] = year
        table['Quarter'] = quarter
        table.replace(0, np.nan, inplace=True)
        table.reset_index(drop=True, inplace=True)
        dfs.append(table)

2012 1
2012 2
2012 3
2012 4
2013 1
2013 2
2013 3
2013 4
2014 1
2014 2
2014 3
2014 4
2015 1
2015 2
2015 3

Got stderr: Apr 02, 2022 11:30:46 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:46 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2015 4

Got stderr: Apr 02, 2022 11:30:48 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:48 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2016 1

Got stderr: Apr 02, 2022 11:30:50 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:50 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2016 2

Got stderr: Apr 02, 2022 11:30:51 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:51 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2016 3

Got stderr: Apr 02, 2022 11:30:53 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:53 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2016 4

Got stderr: Apr 02, 2022 11:30:54 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:54 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2017 1

Got stderr: Apr 02, 2022 11:30:55 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:55 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2017 2

Got stderr: Apr 02, 2022 11:30:57 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:57 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2017 3

Got stderr: Apr 02, 2022 11:30:58 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:30:59 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2017 4

Got stderr: Apr 02, 2022 11:31:00 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:00 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2018 1

Got stderr: Apr 02, 2022 11:31:01 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:01 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2018 2

Got stderr: Apr 02, 2022 11:31:03 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:03 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2018 3

Got stderr: Apr 02, 2022 11:31:04 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:04 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2018 4

Got stderr: Apr 02, 2022 11:31:06 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:06 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2019 1

Got stderr: Apr 02, 2022 11:31:08 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:08 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2019 2

Got stderr: Apr 02, 2022 11:31:09 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:09 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2019 3

Got stderr: Apr 02, 2022 11:31:11 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:11 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2019 4

Got stderr: Apr 02, 2022 11:31:13 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'ArialMT' for 'ArialUnicodeMS'
Apr 02, 2022 11:31:13 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'Arial-BoldMT' for 'ArialUnicodeMS,Bold'

2020 1
2020 2
2020 3
2020 4
2021 1
2021 2
2021 3
2021 4

In [144]:
pd.concat(dfs, axis=0)

,Region,All_Apartments_Total_Listed,All_Apartments_Total_Leased,Bachelor_Bachelor_Leased,Bachelor_Avg_Lease_Rate,One_Bedroom_Bachelor_Leased,One_Bedroom_Avg_Lease_Rate,Two_Bedroom_Bachelor_Leased,Two_Bedroom_Avg_Lease_Rate,Three_Bedroom_Bachelor_Leased,Three_Bedroom_Avg_Lease_Rate,Year,Quarter
0,W01,66.0,32.0,NaN,NaN,24.0,1539.0,8.0,2031.0,NaN,NaN,2012,1
1,W02,13.0,9.0,NaN,NaN,3.0,1633.0,6.0,1679.0,NaN,NaN,2012,1
2,W03,3.0,3.0,NaN,NaN,2.0,1050.0,1.0,1650.0,NaN,NaN,2012,1
3,W04,10.0,2.0,NaN,NaN,1.0,1150.0,1.0,1350.0,NaN,NaN,2012,1
4,W05,43.0,17.0,NaN,NaN,12.0,1354.0,5.0,1578.0,NaN,NaN,2012,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,E07,125.0,99.0,NaN,NaN,41.0,1976.0,54.0,2408.0,4.0,2645.0,2021,4
31,E08,73.0,35.0,NaN,NaN,12.0,1824.0,16.0,2215.0,7.0,2543.0,2021,4
32,E09,226.0,188.0,5.0,1698.0,111.0,2080.0,68.0,2770.0,4.0,3275.0,2021,4
33,E10,32.0,22.0,NaN,NaN,14.0,1813.0,7.0,2399.0,1.0,2700.0,2021,4
34,E11,44.0,28.0,NaN,NaN,12.0,1932.0,16.0,2175.0,NaN,NaN,2021,4

In [124]:
table.copy(deep=True)

,Region,All_Apartments_Total_Listed,All_Apartments_Total_Leased,Bachelor_Bachelor_Leased,Bachelor_Avg_Lease_Rate,One_Bedroom_Bachelor_Leased,One_Bedroom_Avg_Lease_Rate,Two_Bedroom_Bachelor_Leased,Two_Bedroom_Avg_Lease_Rate,Three_Bedroom_Bachelor_Leased,Three_Bedroom_Avg_Lease_Rate,Year,Quarter
0,W01,195.0,102.0,NaN,NaN,70.0,1632.0,31.0,2110.0,1.0,2190.0,2015,2
1,W02,76.0,56.0,NaN,NaN,35.0,1516.0,21.0,2304.0,NaN,NaN,2015,2
2,W03,4.0,2.0,NaN,NaN,1.0,1400.0,NaN,NaN,1.0,1900.0,2015,2
3,W04,108.0,72.0,NaN,NaN,51.0,1305.0,18.0,1644.0,3.0,1750.0,2015,2
4,W05,100.0,39.0,2.0,1123.0,23.0,1413.0,12.0,1612.0,2.0,2000.0,2015,2
5,W06,850.0,482.0,2.0,1038.0,276.0,1448.0,202.0,2012.0,2.0,2925.0,2015,2
6,W07,13.0,9.0,NaN,NaN,9.0,1565.0,NaN,NaN,NaN,NaN,2015,2
7,W08,331.0,182.0,1.0,1210.0,113.0,1454.0,66.0,1909.0,2.0,2363.0,2015,2
8,W09,12.0,8.0,NaN,NaN,1.0,955.0,7.0,1699.0,NaN,NaN,2015,2
9,W10,43.0,31.0,NaN,NaN,11.0,1237.0,20.0,1481.0,NaN,NaN,2015,2
10,C01,4924.0,2931.0,201.0,1352.0,1836.0,1749.0,841.0,2639.0,53.0,3602.0,2015,2
11,C02,589.0,217.0,9.0,1457.0,122.0,1779.0,84.0,4394.0,2.0,4900.0,2015,2
12,C03,105.0,49.0,1.0,1280.0,23.0,1684.0,24.0,2327.0,1.0,5500.0,2015,2
13,C04,45.0,14.0,NaN,NaN,8.0,1500.0,5.0,1826.0,1.0,3500.0,2015,2
14,C06,45.0,23.0,1.0,1190.0,14.0,1412.0,8.0,1888.0,NaN,NaN,2015,2
15,C07,749.0,441.0,1.0,1100.0,234.0,1570.0,189.0,2055.0,17.0,2211.0,2015,2
16,C08,1581.0,865.0,72.0,1349.0,529.0,1709.0,262.0,2425.0,2.0,2950.0,2015,2
17,C09,86.0,39.0,NaN,NaN,16.0,1795.0,23.0,2719.0,NaN,NaN,2015,2
18,C10,172.0,89.0,2.0,1275.0,49.0,1733.0,38.0,2810.0,NaN,NaN,2015,2
19,C11,63.0,30.0,NaN,NaN,12.0,1437.0,16.0,2168.0,2.0,1488.0,2015,2
20,C12,55.0,32.0,NaN,NaN,13.0,1856.0,19.0,2655.0,NaN,NaN,2015,2
21,C13,103.0,51.0,NaN,NaN,25.0,1415.0,24.0,1863.0,2.0,2300.0,2015,2
22,C14,1194.0,656.0,11.0,1274.0,355.0,1546.0,277.0,2087.0,13.0,2772.0,2015,2
23,C15,578.0,345.0,9.0,1292.0,241.0,1489.0,91.0,1954.0,4.0,2138.0,2015,2
24,E01,45.0,29.0,NaN,NaN,24.0,1687.0,5.0,2078.0,NaN,NaN,2015,2
25,E02,57.0,19.0,1.0,960.0,10.0,1647.0,8.0,2584.0,NaN,NaN,2015,2
26,E03,16.0,8.0,NaN,NaN,4.0,1149.0,3.0,1417.0,1.0,1725.0,2015,2
27,E04,29.0,15.0,NaN,NaN,9.0,1213.0,6.0,1426.0,NaN,NaN,2015,2
28,E05,89.0,52.0,NaN,NaN,23.0,1373.0,27.0,1669.0,2.0,1825.0,2015,2
29,E06,8.0,1.0,NaN,NaN,NaN,NaN,1.0,1700.0,NaN,NaN,2015,2
30,E07,112.0,65.0,NaN,NaN,33.0,1335.0,28.0,1521.0,4.0,1763.0,2015,2
31,E08,11.0,6.0,NaN,NaN,3.0,1042.0,3.0,1533.0,NaN,NaN,2015,2
32,E09,293.0,181.0,7.0,1046.0,100.0,1358.0,71.0,1713.0,3.0,2117.0,2015,2
33,E10,8.0,4.0,NaN,NaN,NaN,NaN,3.0,1347.0,1.0,1500.0,2015,2

In [26]:
["Total_Listed", "Total_Leased", "Bachelor_Leased", "Avg_Lease_Rate", "Bachelor_Leased", "Avg_Lease_Rate", "Bachelor_Leased", "Avg_Lease_Rate", "Bachelor_Leased", "Avg_Lease_Rate"]

,Region,All_Apartments_Total_Listed,All_Apartments_Total_Leased,Bachelor_Leased,Bachelor_Avg_Lease_Rate,One_Bedroom_Leased,One_Bedroom_Avg_Lease_Rate,Two_Bedroom_Leased,Two_Bedroom_Avg_Lease_Rate,Three_Bedroom_Leased,Three_Bedroom_Avg_Lease_Rate,Year,Quarter
4,W01,117,58,0,NaN,36,2104,20,3096,2,4125,2021,4
5,W02,99,60,2,1400,45,2055,13,2851,0,NaN,2021,4
6,W03,10,5,0,NaN,3,1833,1,2200,1,2850,2021,4
7,W04,105,64,0,NaN,38,1890,23,2271,3,2808,2021,4
8,W05,106,71,2,1600,45,1924,22,2254,2,2550,2021,4
9,W06,536,319,2,1695,201,2147,112,2930,4,5875,2021,4
10,W07,38,26,0,NaN,20,2038,6,2766,0,NaN,2021,4
11,W08,408,244,2,1663,140,1943,98,2549,4,3094,2021,4
12,W09,24,15,0,NaN,2,2400,9,2139,4,2863,2021,4
13,W10,85,46,0,NaN,19,1804,24,2223,3,2483,2021,4
15,C01,4356,2601,145,1765,1687,2239,714,3189,55,5769,2021,4
16,C02,459,209,15,1677,118,2320,70,4734,6,6275,2021,4
17,C03,128,62,2,1588,36,2029,22,2761,2,5050,2021,4
18,C04,129,76,2,1675,29,1990,42,2434,3,2873,2021,4
19,C06,122,83,1,1500,34,1930,47,2330,1,3650,2021,4
20,C07,501,364,0,NaN,166,2010,179,2649,19,2985,2021,4
21,C08,2621,1562,153,1728,949,2106,425,2956,35,3644,2021,4
22,C09,75,49,0,NaN,21,2498,28,3845,0,NaN,2021,4
23,C10,593,384,16,1666,242,2008,125,2771,1,2000,2021,4
24,C11,123,73,2,1438,32,1844,29,2415,10,2495,2021,4
25,C12,73,49,1,1400,14,1898,34,2034,0,NaN,2021,4
26,C13,133,77,0,NaN,44,1985,28,2471,5,2819,2021,4
27,C14,776,572,9,1686,290,2014,260,2635,13,3300,2021,4
28,C15,859,552,11,1722,348,1991,182,2564,11,2797,2021,4
30,E01,114,67,0,NaN,44,2180,22,2628,1,4500,2021,4
31,E02,60,36,2,1475,21,1996,13,2811,0,NaN,2021,4
32,E03,75,31,4,1463,19,1884,8,2197,0,NaN,2021,4
33,E04,79,42,0,NaN,17,1846,21,2142,4,3118,2021,4
34,E05,84,62,0,NaN,22,1910,32,2333,8,2694,2021,4
35,E06,19,14,0,NaN,6,1771,8,2359,0,NaN,2021,4
36,E07,125,99,0,NaN,41,1976,54,2408,4,2645,2021,4
37,E08,73,35,0,NaN,12,1824,16,2215,7,2543,2021,4
38,E09,226,188,5,1698,111,2080,68,2770,4,3275,2021,4
39,E10,32,22,0,NaN,14,1813,7,2399,1,2700,2021,4
40,E11,44,28,0,NaN,12,1932,16,2175,0,NaN,2021,4

In [39]:
table

,Region,All_Apartments_Total_Listed,Bachelor_Total_Leased,One_Bedroom_Leased,Two_Bedroom_Avg_Lease_Rate,Three_Bedroom_Leased,All_Apartments_Avg_Lease_Rate,Bachelor_Leased,One_Bedroom_Avg_Lease_Rate,Two_Bedroom_Leased,Three_Bedroom_Avg_Lease_Rate
4,W01,199,86,1,1850,50,2016,31,2997,4,4038
5,W02,184,74,0,0,49,1905,24,2685,1,2250
6,W03,24,10,0,0,7,1928,3,2400,0,0
7,W04,227,100,2,1430,57,1724,37,2130,4,2525
8,W05,97,35,2,1398,23,1831,10,2175,0,0
9,W06,815,351,6,1403,193,1993,149,2579,3,4667
10,W07,27,11,0,0,5,1610,6,2727,0,0
11,W08,551,216,0,0,134,1850,78,2294,4,2650
12,W09,30,15,0,0,1,1750,12,2333,2,2325
13,W10,92,34,0,0,11,1850,20,2075,3,2300
15,C01,11672,4019,202,1445,2623,1857,1124,2659,70,3815
16,C02,1142,369,16,1504,228,1992,112,3251,13,5012
17,C03,281,105,1,1299,60,1810,42,2665,2,5450
18,C04,85,34,1,1599,18,1999,14,2473,1,7000
19,C06,240,70,0,0,29,1691,39,1967,2,2975
20,C07,798,330,0,0,169,1818,151,2302,10,2845
21,C08,5475,1942,198,1410,1177,1813,553,2588,14,3414
22,C09,152,44,0,0,19,2217,22,3228,3,5908
23,C10,1038,404,15,1489,267,1828,121,2643,1,6000
24,C11,187,68,2,1275,29,1747,29,2369,8,2747
25,C12,31,10,0,0,4,2313,6,3042,0,0
26,C13,176,68,1,1750,35,1780,29,2421,3,2383
27,C14,1549,613,7,1551,326,1803,268,2327,12,2978
28,C15,1261,500,10,1495,317,1803,165,2281,8,2706
30,E01,221,93,1,1400,64,2041,26,2378,2,3825
31,E02,133,51,1,1350,20,1818,29,2522,1,2500
32,E03,40,7,0,0,4,1945,2,2350,1,2650
33,E04,82,25,0,0,8,1769,16,2037,1,2350
34,E05,105,50,0,0,21,1808,22,2125,7,2427
35,E06,28,13,0,0,8,1934,5,2550,0,0
36,E07,192,78,0,0,39,1703,38,2026,1,2400
37,E08,65,28,1,1425,12,1723,12,2202,3,2300
38,E09,521,178,4,1350,87,1724,82,2074,5,2320
39,E10,13,3,0,0,0,0,3,1992,0,0
40,E11,39,13,0,0,1,1800,11,2105,1,2500

In [6]:
table['Region'] = table.apply(lambda x: re.search('\w\d{2}', x['Region']).group()).values

KeyError: 'Region'

In [37]:
table